
<section class="hero is-success">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head animated slideInDown">
    <header class="navbar">
      <div class="container">

        <div class="navbar-brand">
          <a class="navbar-item pacifico medium-text">
            modern web store
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>

        <app-sub-menu></app-sub-menu>
        
      </div>
    </header>
  </div>
</section>